.card {
  width: 100%;
  max-width: 600px;
  margin: 20px auto;
  background: linear-gradient(to bottom, #2f2b68, #2f2b68, #2f2b68);
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  color: #31572c;
  border-radius: 15px;
}

.card__tags {
  overflow-y: auto;
  height: auto;
  max-height: 200px;
  width: 100%;
  padding: 10px;
}

.tag__name {
  display: inline-block;
  color: #fff;
  font-size: 1em;
  background-color: rgba(255, 255, 255, 0.1);
  padding: 8px 18px;
  border-radius: 70em;
  margin: 6px;
  text-transform: lowercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tag__name:hover {
  transform: scale(1.05);
  background-color: rgba(255, 255, 255, 0.3);
}

@media (max-width: 640px) {
  .card {
    padding: 10px;
  }

  .tag__name {
    font-size: 0.9em;
    padding: 6px 16px;
  }

  .card__tags {
    max-height: 150px;
  }
}
