.styled-button {
  padding: 10px;
  border: 2px solid #7c87f7;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #7c87f7;
}

.styled-button::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background: #7c87f7;
  transition: .5s ease;
  display: block;
  z-index: -1;
}

.styled-button:hover::before {
  width: 105%;
}

.styled-button:hover {
  color: #111;
}


.hide-scrollbar::-webkit-scrollbar {
  display: none; 
}

.hide-scrollbar {
  -ms-overflow-style: none; 
  scrollbar-width: none;
}
